/* @font-face {
  font-family: "inter";
  src: url("./fonts/static/Inter-Regular.ttf") format("truetype");
  
}

#root {
  font-family: "inter", sans-serif;
} */

/* html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
} */
